@model disinterest.Models.Product

@{ ViewData["Title"] = "Details"; }

@*<h1>Details</h1>*@
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="content m-lg-5">

    <img class="image" src="@Model.ImageURL">
    <div class="side mt-5">
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
        <a target="_blank" href="@Model.ProductPage" alt="View image">
            <div class="rounded-circle circle circle-icon ml-4 " style="width:50px; height:50px" alt="View i">
                <i class="fas fa-share mt-1 ml-2" style="font-size: 36px; color: #343a40"></i>
            </div>
        </a>

    </div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
