@model IEnumerable<disinterest.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm">
                <div class="card" style="width: 13rem">
                    <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top  ZoomIn" src="@item.ImageURL" alt="Card image cap" href="@item.ProductPage"></a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name </h5>
                        @*<h5 class="card-text">@item.Price</h5>*@
                        <p class="card-text clip">@item.Description</p>
                    </div>
                </div>
            </div>
         }
    </div>
</div>
